<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MonDomain</title>
  <link rel="stylesheet" href="/public/css/log-in.css">
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" href="/public/css/footer.css">
</head>
<body>
    <main>
        <img src="#" alt="Log in poster">
        <form action="log-in" method="POST" id="LoginForm">
            <section>
                <h1>Нэвтрэх</h1>
                <!--<ul>
                <% if(messages.success_msg){ %>
                    <li> <%= messages.success_msg &></li>
                    <%
                    } %>
                </ul>
                <ul>
                    <% if(messages.error){ %>
                    <li> <%= messages.error &></li>
                    <%
                    } %>
                </ul>-->

                <article id="input">
                    <div>
                        <svg class="iconss" xmlns="http://www.w3.org/2000/svg" fill="none" height="70" viewBox="-15 -18 60 70" width="70"><path d="m3.51089 2 3.63913.13169c.76651.02773 1.44674.51177 1.74051 1.23851l1.07603 2.66193c.25044.61946.18304 1.32624-.17963 1.88421l-1.37862 2.12116c.81623 1.1721 3.03639 3.9183 5.38719 5.5258l1.7529-1.0788c.4455-.2742.9789-.3556 1.483-.2264l3.4847.8936c.9268.2377 1.5513 1.1265 1.4781 2.1035l-.2237 2.9833c-.0786 1.0469-.9354 1.8684-1.9525 1.7502-13.42555-1.5611-21.29856-19.98873-16.30711-19.9887z" stroke="#4D724D" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/></svg>
                        <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Утасны дугаар" required>
                    </div>
                </article>

                <article id="input">
                    <div>
                        <svg class="iconss" xmlns="http://www.w3.org/2000/svg" fill="none" height="70" viewBox="-15 -18 60 70" width="70"><g stroke="#4D724D" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><rect height="11" rx="2" width="18" x="3" y="11"/><path d="m7 10.9999v-4.00002c0-2.76143 2.23858-5 5-5 2.7614 0 5 2.23857 5 5v4.00002"/></g></svg>
                        <input type="password"  id="password" name="password" placeholder="Нууц үг" required>
                    </div>
                </article>

                </article>
                    <p class="new">Шинээр<a href="/sign-up"> бүртгүүлэх</a> үү?</p>
                <article id="submit">
                    <input class="button" type="submit" value="Нэвтрэх"/>
                </article>
            </section>
        </form>
    </main>
    <footer>
            <section class="footer-content">
        <section class="footer-brand">
            <img src="logo.svg" alt="MonDomain" class="logo">
            <p class="tagline">We provide top-tier technology and support for online success.</p>
            <nav class="social-links">
            <a href="#" aria-label="Instagram"><img src="instagram.svg" alt="Instagram"></a>
            <a href="#" aria-label="FaceBook"><img src="facebook.svg" alt="FaceBook"></a>
            <a href="#" aria-label="Twitter"><img src="twitter.svg" alt="Twitter"></a>
            <a href="#" aria-label="Linkedin"><img src="linkedin.svg" alt="Linkedin"></a>
            </nav>
        </section>
        <nav class="footer-nav">
            <section class="footer-column">
            <h3>Contact Us</h3>
            <ul>
                <li>location</li>
                <li>+97694091983</li>
                <li>anujinemt@gmail.com</li>
            </ul>
            <h3>MonDomain XXK</h3>
            <ul>
                <li><a href="#"></a>Domain</li>
                <li>dmkse</li>
                <li>mxiodskls</li>
            </ul>
            </section>
        </nav>
        </section>
    </footer>
</body>